<!DOCTYPE html>
<html class="style-blue-3  custom-colors-enabled  custom_fonts comps live_website">
<head>
	<!-- This page is running on Unicorn Platform. -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/css/main.css"><link rel="stylesheet" href="static/css/overrider.css"><script src="static/js/main.js" defer></script>

		<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">


		<link rel="icon" type="image/png" href="https://ucarecdn.com/417741d5-ebb8-4205-96c0-54211a5ca994/favicon_icon2.png" sizes="16x16" />

	<meta property="og:type" content="website">

        <title>Home Page | test-serjboas</title>
        <meta property="og:title" content="Home Page | test-serjboas" />
        <meta name="twitter:title" content="Home Page | test-serjboas" />



        <meta property="og:url" content="https://test-serjboas.unicornplatform.com/?nocache=14651&amp;as_file=true&amp;file_name=index">
        <meta name="twitter:url" content="https://test-serjboas.unicornplatform.com/?nocache=14651&amp;as_file=true&amp;file_name=index">
        <link href="https://test-serjboas.unicornplatform.com/?nocache=14651&amp;as_file=true&amp;file_name=index" rel="canonical">

</head>



<body class="font-lato comps" id="112428-235848">





	<nav class="js-nav nav-02  nav-02--sticky  nav-02--sticky--white  ">
		<div class="container container--large">
			<div class="nav-02__box">
				<div class="nav-02__logo"><a class="nav-02__link" href="/" target="_self">

						<img loading="lazy" class="nav-02__logo_img" src="https://ucarecdn.com/4910fcc1-daa2-471e-bf7a-01d83ba6297e/" height="32"

								alt="Logotype full"/>


				</a></div>
				<div class="nav-02__links js-menu">
					<div class="nav-02__list_wrapper  ">
						<ul class="nav-02__list nav-02__list--desktop">








							<li class="nav-02__item">


<div class="buttons-set"><ul class="buttons-set__list"><li class="buttons-set__item"><a
				 data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url=""

				 class="button button--accent-bg"  href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appbuildy/demo'});rdt('track', 'bookDemo');return false;"><span class="button__text">BOOK A DEMO</span></a></li></ul></div>

							</li>
						</ul>
						<ul class="nav-02__list nav-02__list--mobile">








							<li class="nav-02__item">


<div class="buttons-set"><ul class="buttons-set__list"><li class="buttons-set__item"><a
				 data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url=""

				 class="button button--accent-bg"  href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appbuildy/demo'});rdt('track', 'bookDemo');return false;"><span class="button__text">BOOK A DEMO</span></a></li></ul></div>

							</li>
						</ul>
					</div>





				</div>
			</div>
		</div>
	</nav>



	<div class="page-component__bg_image_box bg-white-color   page-component__bg_image_box--has-image  " id="header-62-576721"  style="background-image: url('https://ucarecdn.com/6ae88e99-834a-4b28-946a-31bda6769a80/')" >
		<div class="page-component__bg_overlay_box ">

		</div>
		<div style="position: relative;z-index: 16;">





	<header class="header-62">
		<div style="padding-bottom: 45px" class="container container--large header-62__container">
			<div class="header-62__info">
				<div class="header-62__info_content">


							<h1 class="heading heading--accent header-62__heading " >Build a mobile app from your Shopify store</h1>



						<div class="header-62__text content_box "><p><span style="color: inherit;background-color: inherit;font-size: 25px;font-family: inherit;">Create, customize, and launch</span><span style="color: inherit;background-color: inherit;font-size: inherit;font-family: inherit;"> a world-class iOS &amp; Android mobile app for your business visually, without code.</span></p>
</div>

					<div class="header-62__buttons_box">
						<div class="header-62__buttons">


<div class="buttons-set"><ul class="buttons-set__list"><li class="buttons-set__item"><a
				 data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url=""

				 class="button button--accent-bg"  href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appbuildy/demo'});rdt('track', 'bookDemo');return false;"><span class="button__text">BOOK A DEMO</span></a></li></ul></div>

						</div>
					</div>
				</div>
			</div>
			<div class="header-62__visual">
				<div class="header-62__visual__wrapper">
					<div class="header-62__mockup header-62__mockup--static">


<div class="mockup_v2 mockup_v2--iphone_xr">
    <div class="mockup_v2__img_box">

        <div class="mockup_v2__screenshot mockup_v2__area">

                <img class="mockup_v2__screenshot_img" src="https://ucarecdn.com/ef9c55c8-c2a4-48ec-8703-3248f049feba/group-4.png" alt="Group 4">

        </div>
        <img class="mockup_v2__device_img js-tab-content-item" alt="Device frame" src="static/img/mockups_v2/phones/apple_iphone_xr_space_grey.png"/>
    </div>
</div>
					</div>
					<div class="header-62__mockup header-62__mockup--shift">


<div class="mockup_v2 mockup_v2--iphone_11_pro_max">
    <div class="mockup_v2__img_box">

        <div class="mockup_v2__screenshot mockup_v2__area">

                <img class="mockup_v2__screenshot_img" src="https://ucarecdn.com/47b8c069-2428-41ab-a463-aeb609481d8f/group-3.png" alt="Group 3">

        </div>
        <img class="mockup_v2__device_img js-tab-content-item" alt="Device frame" src="static/img/mockups_v2/phones/apple_iphone_11_pro_max_space_grey.png"/>
    </div>
</div>
					</div>
				</div>
			</div>
		</div>
	</header>

		</div>
	</div>

	<div class="page-component__bg_image_box bg-light-color   " id="features-06-554601" >
		<div class="page-component__bg_overlay_box ">

		</div>
		<div style="position: relative;z-index: 15;">





	<div class="features-06 containerWithTopPadding">
		<div class="container container--large">
			<div class="features-06__wrapper">
				<div class="features-06__main">
					<div class="features-06__main_content">
						<div class="title-box alignText">

								<h2 class="heading features-06__heading " >Sell more with push notifications.</h2>


								<div class="title-box__text features-06__text content_box "><p style="text-align:left;"><span style="color: rgb(0,0,0);background-color: rgb(255,255,255);font-size: 20px;font-family: SofiaPro, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;">Interactive push notifications keep shoppers coming back for more. Use real-time communication to generate a steady stream of sales</span></p>
</div>

						</div>




					</div>
				</div>
				<div class="features-06__visual">
					<div class="features-06__img_box imgAligner">
                        <img loading="lazy"
                                    class="features-06__img maxWidthImg"
                                    alt="Iphonex"
                                    src="https://ucarecdn.com/aad3f25a-5621-4a50-a52a-91199bc51b08/iphonex.png"/>
					</div>
				</div>
			</div>
		</div>
	</div>

		</div>
	</div>

	<div class="page-component__bg_image_box bg-light-color   " id="features-07-442691" >
		<div class="page-component__bg_overlay_box ">

		</div>
		<div style="position: relative;z-index: 14;">






	<div class="features-07 containerWithBottomPadding">
		<div class="container container--large">
			<div class="features-07__wrapper">
				<div class="features-07__main">
					<div class="features-07__main_content">
						<div class="title-box">

								<h2 class="heading features-07__heading " >Apple & Andriod Pay For Faster Checkouts</h2>


								<div class="title-box__text features-07__text content_box "><p style="text-align:left;"><span style="color: rgb(0,0,0);font-size: 20px;font-family: SofiaPro, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;">Collect all checkout details on a single page, prefill customer addresses and let shoppers pay how they want. All in a matter of seconds.</span><br></p>
</div>

						</div>




					</div>
				</div>
				<div class="features-07__visual">
					<div class="features-07__img_box imgAligner">
                    <img loading="lazy"
								class="features-07__img maxWidthImg"
                                alt="Iphonexpay"
								src="https://ucarecdn.com/2f118bb9-605d-4ee5-9987-cbcf940df78c/iphonexpay.png"/>
					</div>
				</div>
			</div>
		</div>
	</div>

		</div>
	</div>

	<div class="page-component__bg_image_box bg-white-color   " id="features-06-717171" >
		<div class="page-component__bg_overlay_box ">

		</div>
		<div style="position: relative;z-index: 13;">





	<div class="features-06 containerWithBottomPadding containerWithTopPadding">
		<div class="container container--large">
			<div class="features-06__wrapper">
				<div class="features-06__main platformText">
					<div class="features-06__main_content">
						<div class="title-box">

								<h2 class="heading features-06__heading " >Design with a drag & drop app builder.</h2>


								<div class="title-box__text features-06__text content_box "><p><span style="color: rgb(0,0,0);background-color: rgb(255,255,255);font-size: 18px;font-family: SofiaPro-Medium, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;">Our platform is designed to enhance your Shopify e-commerce store. We give you the tools to build a customized mobile app, with no coding required.</span><br></p>
</div>

						</div>




					</div>
				</div>
				<div class="features-06__visual platformVisual" >
					<div class="features-06__img_box">
                        <img loading="lazy"
                                    class="features-06__img"
                                    alt="Tg image 3904199866"
                                    src="https://ucarecdn.com/ce13434e-5961-4c61-ba5f-f1d6b1834ea9/tg-image-3904199866.png"/>
					</div>
				</div>
			</div>
		</div>
	</div>

		</div>
	</div>

	<div class="page-component__bg_image_box bg-light-color   " id="features-03-288771" >
		<div class="page-component__bg_overlay_box ">

		</div>
		<div style="position: relative;z-index: 12;">




	<div class="features-03">





	<div class="container container--small">
		<div class="title-box title-box--center">


					<h2 class="heading " >Transform your Shopify store into a mobile app in minutes.</h2>



				<div class="title-box__text content_box "><p style="margin-left:0px;"><br></p>
</div>

		</div>
	</div>

		<div class="container">
			<ul class="features-03__items">


						<li class="features-03__item">
							<div class="features-03__img_box">
								<div class="features-03__img">





		<img loading="lazy" src="https://ucarecdn.com/64809acc-83f5-4c39-accc-320625a6a2a4/icon-2.png" alt="Icon 2" class="" height="100"/>



								</div>
							</div>
							<div class="features-03__number   features-03__number--medium   ">No coding required
							</div>
							<div class="features-03__word  ">You don&#39;t need even a single line of code to build your app on our platform.</div>
						</li>



						<li class="features-03__item">
							<div class="features-03__img_box">
								<div class="features-03__img">





		<img loading="lazy" src="https://ucarecdn.com/e6082c2b-e22d-4a89-88e4-18973b4dd0c4/icon-1.png" alt="Icon 1" class="" height="100"/>



								</div>
							</div>
							<div class="features-03__number   features-03__number--medium   ">Fully Native Apps
							</div>
							<div class="features-03__word  ">Native apps for iOS and Android to provide a smooth and superior user experience.</div>
						</li>



						<li class="features-03__item">
							<div class="features-03__img_box">
								<div class="features-03__img">





		<img loading="lazy" src="https://ucarecdn.com/e32eb5f6-16dc-404e-8b13-6136957025bb/icon-4.png" alt="Icon 4" class="" height="100"/>



								</div>
							</div>
							<div class="features-03__number   features-03__number--medium   ">Responsive Support
							</div>
							<div class="features-03__word  ">We support you throughout your entire journey, from developing and launching to marketing your app.</div>
						</li>




			</ul>
			<div class="bottom_cta">




			</div>
		</div>
	</div>

		</div>
	</div>

	<div class="page-component__bg_image_box bg-white-color   " id="pricing-02-96141" >
		<div class="page-component__bg_overlay_box ">

		</div>
		<div style="position: relative;z-index: 11;">





	<div class="pricing-02">





	<div class="container container--small">
		<div class="title-box title-box--center">


					<h2 class="heading " >Affordable Pricing for Everyone</h2>



				<div class="title-box__text content_box "><p style="text-align:center;"><span style="color: rgb(255,255,255);font-size: 20px;font-family: SofiaPro, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;">No hidden fees or any additional charges.</span><br></p>
</div>

		</div>
	</div>

		<div class="container">

		</div>
		<div class="container">
			<div class="pricing-02__cards_container">
				<ul class="pricing-02__cards_list">



                                <li class="pricing-02__card_box ">
                                    <div class="pricing-02__card">





		<img loading="lazy" src="https://ucarecdn.com/4bf316d3-01f9-4924-a2e0-969d5fadfcce/shopping-cart-1f6d2.png" alt="Shopping cart 1f6d2" class="pricing-02__card_img" height="47"/>




                                            <h3 class="pricing-02__card_title">Standart plan</h3>


                                            <div class="pricing-02__card_info">For small businesses that want to offer a seamless mobile experience to customers.</div>

                                        <div class="pricing-02__price_box">
                                            <div class="pricing-02__price_item js-tab-content  state-active-tab " data-index="monthly-price-1" data-group="my-pricing-pricing-02-96141">
                                                <div class="pricing-02__price_symbol  ">$</div>
                                                <div class="pricing-02__price"><span class="pricing-02__price_text ">49</span>
                                                </div>
                                                <div class="pricing-02__period">/month</div>
                                            </div>

                                            <div class="pricing-02__price_item js-tab-content " data-index="yearly-price-1" data-group="my-pricing-pricing-02-96141">
                                                <div class="pricing-02__price_symbol  ">$</div>
                                                <div class="pricing-02__price"><span class="pricing-02__price_text "></span>
                                                </div>
                                                <div class="pricing-02__period">/year</div>
                                            </div>
                                        </div>

                                            <ul class="pricing-02__info">


                                                        <li class="pricing-02__info_item">
                                                        <div class="pricing-02__info_item_box">
                                                            <div class="pricing-02__info_item_text">iPhone and Android app</div>

                                                        </div>
                                                        </li>



                                                        <li class="pricing-02__info_item">
                                                        <div class="pricing-02__info_item_box">
                                                            <div class="pricing-02__info_item_text">Unlimited push notifications</div>

                                                        </div>
                                                        </li>



                                                        <li class="pricing-02__info_item">
                                                        <div class="pricing-02__info_item_box">
                                                            <div class="pricing-02__info_item_text">Real-time app updates</div>

                                                        </div>
                                                        </li>



                                                        <li class="pricing-02__info_item">
                                                        <div class="pricing-02__info_item_box">
                                                            <div class="pricing-02__info_item_text">Rich app templates</div>

                                                        </div>
                                                        </li>




                                            </ul>

                                        <div class="pricing-02__card_button">










			<a
				 data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url=""

				 class="button button--accent-outline" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appbuildy/demo'});rdt('track', 'bookDemo');return false;"><span class="button__text">BOOK A DEMO</span></a>





                                        </div>
                                    </div>
                                </li>





                                <li class="pricing-02__card_box ">
                                    <div class="pricing-02__card">





		<img loading="lazy" src="https://ucarecdn.com/8f8bae98-2e5f-4c56-a845-04b1775cd72e/department-store-1f3ec.png" alt="Department store 1f3ec" class="pricing-02__card_img" height="49"/>




                                            <h3 class="pricing-02__card_title">Business plan</h3>


                                            <div class="pricing-02__card_info">For mid or large size businesses willing to make their mobile store the primary hub of their brand</div>

                                        <div class="pricing-02__price_box">
                                            <div class="pricing-02__price_item js-tab-content  state-active-tab " data-index="monthly-price-1" data-group="my-pricing-pricing-02-96141">
                                                <div class="pricing-02__price_symbol  ">$</div>
                                                <div class="pricing-02__price"><span class="pricing-02__price_text  smaller-text-09 ">149</span>
                                                </div>
                                                <div class="pricing-02__period">/month</div>
                                            </div>

                                            <div class="pricing-02__price_item js-tab-content " data-index="yearly-price-1" data-group="my-pricing-pricing-02-96141">
                                                <div class="pricing-02__price_symbol  ">$</div>
                                                <div class="pricing-02__price"><span class="pricing-02__price_text "></span>
                                                </div>
                                                <div class="pricing-02__period">/year</div>
                                            </div>
                                        </div>

                                            <ul class="pricing-02__info">


                                                        <li class="pricing-02__info_item">
                                                        <div class="pricing-02__info_item_box">
                                                            <div class="pricing-02__info_item_text">Everything from Standard </div>

                                                        </div>
                                                        </li>



                                                        <li class="pricing-02__info_item">
                                                        <div class="pricing-02__info_item_box">
                                                            <div class="pricing-02__info_item_text">Premium integrations</div>

                                                        </div>
                                                        </li>



                                                        <li class="pricing-02__info_item">
                                                        <div class="pricing-02__info_item_box">
                                                            <div class="pricing-02__info_item_text">Dedicated app manager</div>

                                                        </div>
                                                        </li>



                                                        <li class="pricing-02__info_item">
                                                        <div class="pricing-02__info_item_box">
                                                            <div class="pricing-02__info_item_text">Premium support</div>

                                                        </div>
                                                        </li>


                                            </ul>

                                        <div class="pricing-02__card_button">










			<a
				 data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url=""

				 class="button button--accent-outline"  href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appbuildy/demo'});rdt('track', 'bookDemo');return false;"><span class="button__text">BOOK A DEMO</span></a>





                                        </div>
                                    </div>
                                </li>



				</ul>
			</div>
		</div>
		<div class="bottom_cta">


<div class="buttons-set"><ul class="buttons-set__list"></ul></div>

		</div>
	</div>

		</div>
	</div>

	<div class="page-component__bg_image_box bg-light-color   " id="cta_button-03-636181" >
		<div class="page-component__bg_overlay_box ">

		</div>
		<div style="position: relative;z-index: 10;">




	<div class="cta_button-03">
		<div class="container container--mid">
			<div class="cta_button-03__wrapper">
				<div class="cta_button-03__title_box">

						<div class="cta_button-03__text content_box  "><p>Ready to get started?</p>
</div>


						<h3 class="cta_button-03__title  " >Save thousands of dollars and hundreds of man hours on mobile app development</h3>

				</div>
				<div class="cta_button-03__button_box">


<div class="buttons-set"><ul class="buttons-set__list"><li class="buttons-set__item"><a
				 data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url=""

				 class="button button--alt-accent-bg"  href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appbuildy/demo'});rdt('track', 'bookDemo');return false;"><span class="button__text">BOOK A DEMO</span></a></li></ul></div>

				</div>
			</div>
		</div>
	</div>

		</div>
	</div>








        <div class="bg-black-color  text-white ">
            <footer class="footer-02">
                <div class="container">
                    <div class="footer-02__wrapper">
                        <div class="footer-02__text content_box">&copy; 2021&nbsp;<p>All rights reserved.<br> <br><a href="mailto:contact@appbuildy.com" target="_blank">contact@appbuildy.com</a>&nbsp;</p>

                        </div>
                        <div class="social-buttons  "><ul class="social-buttons__list"></ul></div>
                    </div>
                </div>
            </footer>
        </div>



<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="pswp__bg"></div>
	<div class="pswp__scroll-wrap">
		<div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
		</div>
		<div class="pswp__ui pswp__ui--hidden">
			<div class="pswp__top-bar">
				<div class="pswp__counter"></div>
				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
				<button class="pswp__button pswp__button--share" title="Share"></button>
				<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
				<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
						<div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
				<div class="pswp__share-tooltip"></div>
			</div>
			<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
			<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
			<div class="pswp__caption">
				<div class="pswp__caption__center"></div>
			</div>
		</div>
	</div>
</div>

<style>
			.custom-colors-enabled .fill-main{
				fill: #007AFF
			}

			.custom-colors-enabled .button--accent-outline .icon svg *,
			.button--accent-outline .icon svg .custom-colors-enabled *,
			.custom-colors-enabled .button--accent-outline .button__system_icon svg *,
			.button--accent-outline .button__system_icon svg .custom-colors-enabled * {
				fill: #007AFF
			}

			.custom-colors-enabled .stroke-main {
				stroke: #007AFF
			}

			.custom-colors-enabled .comps .button--accent-outline,
			.comps .custom-colors-enabled .button--accent-outline,
			 .custom-colors-enabled .store-button--white:hover{
				border-color: #007AFF
			}
			.custom-colors-enabled .border-main,
			.custom-colors-enabled .text-input:focus,
			.custom-colors-enabled .textarea:focus,
			.custom-colors-enabled .select:focus,
			.custom-colors-enabled .pricing-02__card_box--accent,
			.custom-colors-enabled .pricing-03__hover,
			.custom-colors-enabled .pricing-04__card--accent,
			.custom-colors-enabled .pricing-04__hover,
			.custom-colors-enabled .pricing-05__hover,
			.custom-colors-enabled .bg-medium-color .cta_form-04__wrapper,
			.bg-medium-color .custom-colors-enabled .cta_form-04__wrapper,
			.custom-colors-enabled .bg-light-color .cta_form-04__wrapper,
			.bg-light-color .custom-colors-enabled .cta_form-04__wrapper,
			.custom-colors-enabled .bg-medium-color .cta_form-04__bottom,
			.bg-medium-color .custom-colors-enabled .cta_form-04__bottom,
			.custom-colors-enabled .bg-light-color .cta_form-04__bottom,
			.bg-light-color .custom-colors-enabled .cta_form-04__bottom,
			.custom-colors-enabled .bg-medium-color .cta_button-16__wrapper,
			.bg-medium-color .custom-colors-enabled .cta_button-16__wrapper,
			.custom-colors-enabled .bg-light-color .cta_button-16__wrapper,
			.bg-light-color .custom-colors-enabled .cta_button-16__wrapper,
			.custom-colors-enabled .bg-medium-color .links-02__list,
			.bg-medium-color .custom-colors-enabled .links-02__list,
			.custom-colors-enabled .bg-light-color .links-02__list,
			.bg-light-color .custom-colors-enabled .links-02__list,
			.custom-colors-enabled .faq-01__question:hover,
			.custom-colors-enabled .faq-03__question:hover,
			.custom-colors-enabled .features-09__item--new,
			.custom-colors-enabled .bg-medium-color .steps-01__number,
			.bg-medium-color .custom-colors-enabled .steps-01__number,
			.custom-colors-enabled .bg-light-color .steps-01__number,
			.bg-light-color .custom-colors-enabled .steps-01__number {
				border-color: #007AFF
			}



			.custom-colors-enabled .comps .button--accent-outline,
			.comps .custom-colors-enabled .button--accent-outline{
				color: #007AFF
			}
			.custom-colors-enabled .color-main,
			.custom-colors-enabled .link,
			.custom-colors-enabled .feature__link,
			.custom-colors-enabled .testimonials-03__person_link,
			.custom-colors-enabled .footer-01__link,
			.custom-colors-enabled .faq-05__link,
			.custom-colors-enabled .features-16__link,
			.custom-colors-enabled .subheading,
			.custom-colors-enabled .content_box a,
			.content_box .custom-colors-enabled a,
			.custom-colors-enabled .tab__button.state-active-tab,
			.custom-colors-enabled .tab__button--active:focus,
			.custom-colors-enabled .score__value,
			.custom-colors-enabled .form__message_opener_box,
			.custom-colors-enabled .message__bubble_link,
			.custom-colors-enabled .team-05__person_name,
			.custom-colors-enabled .tabs-04__button.state-active-tab,
			.custom-colors-enabled .tabs-04__button--active:focus,
			.custom-colors-enabled .pricing-02__hover,
			.custom-colors-enabled .pricing-03__hover,
			.custom-colors-enabled .pricing-04__hover,
			.custom-colors-enabled .pricing-05__hover,
			.custom-colors-enabled .cta_button-25__subheading,
			.custom-colors-enabled .cta_button-31__heading,
			.custom-colors-enabled .footer-03__pages_link:hover,
			.custom-colors-enabled .code-02__info_prefix,
			.custom-colors-enabled .features-17__item .feature__title_text,
			.features-17__item .custom-colors-enabled .feature__title_text {
				color: #007AFF
			}

			.custom-colors-enabled .color-main-hover:hover,
			.custom-colors-enabled .link:hover,
			.custom-colors-enabled .feature__link:hover,
			.custom-colors-enabled .testimonials-03__person_link:hover,
			.custom-colors-enabled .footer-01__link:hover,
			.custom-colors-enabled .faq-05__link:hover,
			.custom-colors-enabled .features-16__link:hover, .custom-colors-enabled .message__bubble_link:hover {
				color: #006de4
			}

			.custom-colors-enabled .comps .button--accent-bg,
			.comps .custom-colors-enabled .button--accent-bg,
			.custom-colors-enabled .store-button:hover,
			.custom-colors-enabled .circle-button--accent-bg,
			.custom-colors-enabled .circle-button--accent-bg .circle-button__hover_bg,
			.circle-button--accent-bg .custom-colors-enabled .circle-button__hover_bg,
			.custom-colors-enabled .circle-button--light-bg:hover,
			.custom-colors-enabled .slick-dots li.slick-active button,
			.slick-dots li.slick-active .custom-colors-enabled button{
				background-color: #007AFF
			}
			.custom-colors-enabled .bg-main,
			.custom-colors-enabled .radio__check:before,
			.custom-colors-enabled .checkbox__check:before,
			.custom-colors-enabled .social-buttons__link--circle,
			.custom-colors-enabled .roadmap-01__column,
			.custom-colors-enabled .cta_button-25__item::before,
			.custom-colors-enabled .testimonials-05__blue_box::before,
			.custom-colors-enabled .footer-03__pages_item:after,
			.custom-colors-enabled .features-02__number:before,
			.custom-colors-enabled .features-09__item--new .tag,
			.features-09__item--new .custom-colors-enabled .tag,
			.custom-colors-enabled .features-15__item::before,
			.custom-colors-enabled .bg-medium-color .steps-01__list:before,
			.bg-medium-color .custom-colors-enabled .steps-01__list:before,
			.custom-colors-enabled .bg-light-color .steps-01__list:before,
			.bg-light-color .custom-colors-enabled .steps-01__list:before,
            .comps.custom-colors-enabled .bg-accent-color .footer-02,
            .comps.custom-colors-enabled .bg-accent-color .footer-04{
				background-color: #007AFF
			}

			.custom-colors-enabled .bg-main-hover:hover,
			.custom-colors-enabled .comps .button--accent-bg:hover,
			.comps .custom-colors-enabled .button--accent-bg:hover,
			.custom-colors-enabled .checkbox__input:checked:hover ~ .checkbox__check:hover:before {
				background-color: #006de4
			}

			.custom-colors-enabled .border-alt,
			.custom-colors-enabled .comps .button--alt-accent-outline,
			.comps .custom-colors-enabled .button--alt-accent-outline,
			.custom-colors-enabled .bg-accent-color .pricing-02__card_box--accent,
			.bg-accent-color .custom-colors-enabled .pricing-02__card_box--accent,
			.custom-colors-enabled .bg-accent-color .pricing-04__card--accent,
			.bg-accent-color .custom-colors-enabled .pricing-04__card--accent {
				border-color: #007AFF
			}

			.custom-colors-enabled .color-alt,
			.custom-colors-enabled .comps .button--alt-accent-outline,
			.comps .custom-colors-enabled .button--alt-accent-outline {
				color: #007AFF
			}

			.custom-colors-enabled .bg-alt,
			.custom-colors-enabled .comps .button--alt-accent-bg,
			.comps .custom-colors-enabled .button--alt-accent-bg,
			.custom-colors-enabled .bg-accent-color .slick-dots li.slick-active button,
			.bg-accent-color .slick-dots li.slick-active .custom-colors-enabled button {
				background-color: #007AFF
			}

			.custom-colors-enabled .bg-alt-hover:hover,
			.custom-colors-enabled .comps .button--alt-accent-bg:hover,
			.comps .custom-colors-enabled .button--alt-accent-bg:hover {
				background-color: #006de4
			}

			.custom-colors-enabled .fill-alt .icon svg *,
			.custom-colors-enabled .comps .button--alt-accent-outline .icon svg *,
			.comps .custom-colors-enabled .button--alt-accent-outline .icon svg *,
			.custom-colors-enabled .fill-alt .button__system_icon svg *,
			.custom-colors-enabled .comps .button--alt-accent-outline .button__system_icon svg *,
			.comps .custom-colors-enabled .button--alt-accent-outline .button__system_icon svg * {
				fill: #007AFF
			}

			.custom-colors-enabled .fill-alt-hover:hover .icon svg *,
			.custom-colors-enabled .feature__link:hover .icon svg *,
			.custom-colors-enabled .fill-alt-hover:hover .button__system_icon svg *,
			.custom-colors-enabled .feature__link:hover .button__system_icon svg * {
				fill: #007AFF
			}


			.custom-colors-enabled .bg-accent-color .page-component__bg_overlay_box:not(.page-component__bg_overlay_box--always-white),
			.custom-colors-enabled .bg-accent-color .background-color-picker__circle,
			.custom-colors-enabled .bg-accent-color .text--01__box {
				background-color: #007AFF
			}
		</style>
<style>
	.page-component__bg_image_box .page-component__bg_image_box .page-component__bg_overlay_box {
        position: relative;
	}
	body .page-component__bg_overlay_box {
		position: absolute;
	}
    .footer-02__text.content_box a{
    	color: inherit !important;
    }
    .footer-04__info{
	    font-size: 14px;
    }
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-192562139-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-192562139-1');
</script>

<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
	<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
	<!-- Reddit Pixel -->
    <script>
    !function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','t2_9thsglvq');rdt('track', 'PageVisit');
    </script>
    <!-- DO NOT MODIFY -->
    <!-- End Reddit Pixel -->

</body>
</html>
