.hero {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__title {
    padding-top: 186px;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: -2.2px;
    line-height: 86px;
    color: #222427;
    padding-bottom: 21px;

    .fast {
      background: -webkit-linear-gradient(-54.8deg, #005CFF 4.63%, #00D4FF 92.12%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .native {
      background: -webkit-linear-gradient(-60deg, #00C6FF 62.66%, #0036FF 92.12%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__description {
    font-size: 25px;
    color: #000;
    padding-bottom: 28px;
  }

  &__button {
    font-weight: 700;
    font-size: 25px;
    padding: 12px 34px 15px;
  }
}

@media (max-width: 960px) {
  .hero {
    &__title {
      font-size: 60px;
    }
  }
}

@media (max-width: 680px) {
  .hero {
    &__title {
      padding-top: 88px;
      font-size: 40px;
      line-height: 42px;
      padding-bottom: 14px;
      max-width: 280px;
      letter-spacing: -1.1px;
      margin: 0 auto;
    }

    &__description {
      font-size: 16px;
      padding-bottom: 19px;
    }

    &__button {
      font-size: 18px;
      display: block;
    }
  }
}

@media (max-width: 550px) {
  .hero {
    &__button {
      font-size: 18px;
      display: block;
    }
  }
}
