.integrations {
  background: linear-gradient(177.37deg, #F2F2F5 2.19%, #F2F2F5 43.81%, #FFFFFF 82.29%);
  padding-bottom: 130px;

  .title {
    padding: 100px 0 35px;
  }

  &__wrapper {
    text-align: center;
    //background-image: url(../images/integration_bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .btn_2 {
      border-radius: 15px;
      letter-spacing: -0.183673px;
      font-weight: 700;
    }
  }

  &__img {
    width: 65px;
    margin-right: 13px;
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: -1.46341px;
  }

  &__preview {
    max-width: 650px;
    width: 100%;
  }

  &__phone {
    max-width: 300px;
    margin-right: -35px;
    width: 100%;
  }

  &__description {
    max-width: 600px;
    margin: 0 auto;
    color: #000;
    opacity: 0.6;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .integrations {
    background: none;
    padding-bottom: 30px;

    .title {
      padding: 0 0 30px;
      max-width: 80%;
      margin: 0 auto;
      line-height: 42px;
      letter-spacing: -1.1px;
    }

    &__wrapper {
      background-position: top;
    }

    &__title {
      font-size: 30px;
    }

    &__description {
      font-size: 16px;
    }

    a {
      font-size: 14px;
    }
  }
}
