$accent: #007aff; // Accent Color
$fontsize: 18px; // Body Font Size
$textcolor: #111; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$inter: Inter, sans-serif; // Inter Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;