<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
   <div data-upvoty></div>
   <script type='text/javascript' src='https://appbuildy.upvoty.com/javascript/upvoty.embed.js'></script>
   <script type='text/javascript'>
   upvoty.init('render', {
       'boardHash': '5dab94f8d949f30c862a65b9b450536f8fb6075c20737c19e984859ffeef30b4',
       'ssoToken': null,
       'baseUrl': 'appbuildy.upvoty.com',
   });
   </script>
  </body>
</html>
