<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <div data-upvoty></div>
    <script type='text/javascript' src='https://appbuildy.upvoty.com/javascript/upvoty.embed.js'></script>
    <script type='text/javascript'>
    upvoty.init('render', {
        'boardHash': 'e3cb185bd7cb3e08a2e5453e70d6ead7c52b050d3ccc20ec67205dba81df00d6',
        'ssoToken': null,
        'baseUrl': 'appbuildy.upvoty.com',
    });
    </script>
  </body>
</html>
