<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<title>AppBuildy</title>
	<meta name="description" content="Build Fast Native Apps without Code">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="images/favicon.png">
	<meta property="og:image" content="images/dest/preview.jpg">
	<link rel="stylesheet" href="css/app.min.css">

</head>

<body>

	<header>
		<div class="container">
			<nav class="menu">
				<a href="#" class="menu__logo"><img src="images/logotype.svg" alt="logotype"></a>
				<a href="#" class="menu__link">Features</a>
				<a href="#" class="menu__link">Pricing</a>
			</nav>
			<div class="login">
				<a href="#" class="btn_1 border-gradient">Log In</a>
				<a href="#" class="btn_2">Sign Up</a>
			</div>
		</div>
	</header>

	<section class="hero">
		<div class="container">
			<h1 class="hero__title">Build <span class="fast">Fast</span> <span class="native">Native</span> Apps without Code</h1>
			<p class="hero__description">Create, customize and launch mobile apps<br>in your browser with drag and drop.</p>
			<a href="" class="hero__button btn_2">Get Started for Free</a>
		</div>
	</section>

	<section class="preview">
		<div class="container">
			<img src="images/dest/preview.jpg" alt="AppBuildy" class="preview__img">
			<div class="preview__box">

				<div class="preview__item turquoise">
					<h3 class="preview__title">Native look and feel experience for your iOS and Android apps</h3>
					<p class="preview__description">With Flutter framework inside, you could never see the difference compared to the native apps.</p>
					<div class="preview__icons">
						<img src="images/icons/apple.svg" alt="apple">
						<img src="images/icons/android.svg" alt="android">
						<img src="images/icons/web.svg" alt="web">
					</div>
				</div>

				<div class="preview__item pink">
					<h3 class="preview__title">Rich customization for every element in a click</h3>
					<p class="preview__description">Pick from a rich palette of themes or create your own branding system. Fonts, colors, sizes and so much more – everything is up to you.</p>
					<div class="preview__icons">
						<img src="images/icons/circle_1.svg" alt="circle">
						<img src="images/icons/circle_2.svg" alt="circle">
						<img src="images/icons/circle_3.svg" alt="circle">
						<img src="images/icons/circle_4.svg" alt="circle">
						<img src="images/icons/circle_5.svg" alt="circle">
						<img src="images/icons/circle_6.svg" alt="circle">
						<img src="images/icons/circle_7.svg" alt="circle">
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="integrations">
		<div class="container">
			<h2 class="title">Integrations Built In</h2>
			<div class="integrations__wrapper">
				<img src="images/icons/integration.svg" alt="integration" class="integrations__img">
				<p class="integrations__title">Airtable</p>
				<p class="integrations__description">Connect your tables to synchronize every listing, text or image in your app remotely. Add and edit data anytime you want.</p>
				<a href="#" class="btn_2">Available now</a>
			</div>
		</div>
	</section>

	<section class="more">
		<div class="container">
			<p class="more__title">And so much more…</p>
			<div class="more__wrapper">

				<div class="more__item">
					<img src="images/icons/safari.svg" alt="safari" class="more__icon">
					<p class="more__text"><span class="tomato">Blazing</span><br>Fast<br>Perfomance</p>
				</div>

				<div class="more__item">
					<img src="images/icons/safari.svg" alt="safari" class="more__icon">
					<p class="more__text"><span class="green">Simpliest</span><br>Builder<br>Interface</p>
				</div>

				<div class="more__item">
					<img src="images/icons/safari.svg" alt="safari" class="more__icon">
					<p class="more__text"><span class="blue">Real Time</span><br>Preview<br>in the Web</p>
				</div>

				<div class="more__item">
					<img src="images/icons/safari.svg" alt="safari" class="more__icon">
					<p class="more__text"><span class="violet">Responsive</span><br>Chat with<br>Support</p>
				</div>

			</div>
		</div>
	</section>

	<section class="start">
		<div class="container">
			<img src="images/icons/logotype_icon.svg" alt="logotype icon" class="start__icon">
			<h2 class="title">Just Give It a Try.</h2>
			<a href="#" class="btn_2">Get Started for Free</a>
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<a href="#" class="footer__logo"><img src="images/logotype.svg" alt="logotype"></a>
			<div class="footer__link">
				<a href="#" class="footer__item">Terms of Use</a>
				<a href="#" class="footer__item">Privacy Policy</a>
			</div>
		</div>
	</footer>

	<script src="js/app.min.js"></script>

</body>

</html>
