<header>
	<div class="container">
		<nav class="menu">
			<a href="#" class="menu__logo"><img src="images/logotype.svg" alt="logotype"></a>
			<!-- <a href="#" class="menu__link">Features</a> -->
			<!-- <a href="#" class="menu__link">Pricing</a> -->
		</nav>
		<div class="login" id="popups">
			<!-- <a href="#" class="btn_1 border-gradient">Log In</a> -->
			<a href="#popup-form" data-effect="mfp-zoom-in" class="btn_2 popup-with-form">Request Access</a>
		</div>
	</div>
</header>

<section class="hero">
	<div class="container">
		<h1 class="hero__title">Build Elegant Native Apps <span class="fast">without</span> <span class="native">Code</span></h1>
		<p class="hero__description">Create, customize and launch mobile apps<br>in your browser with drag and drop.</p>
		<a class="hero__button btn_2 popup-with-form" href="#popup-form" data-effect="mfp-zoom-in">Request Access</a>
	</div>
</section>

<section class="preview">
	<div class="container">
		<img src="images/dest/preview.jpg" alt="AppBuildy" class="preview__img">
		<div class="preview__box">

			<div class="preview__item turquoise">
				<h3 class="preview__title">Native look and feel experience for your iOS and Android apps</h3>
				<p class="preview__description">With Flutter framework inside, you could never see the difference compared to the native apps.</p>
				<div class="preview__icons">
					<img src="images/icons/apple.svg" alt="apple">
					<img src="images/icons/android.svg" alt="android">
					<img src="images/icons/web.svg" alt="web">
				</div>
			</div>

			<div class="preview__item pink">
				<h3 class="preview__title">Rich customization for every element in a click</h3>
				<p class="preview__description">Pick from a rich palette of themes or create your own branding system. Fonts, colors, sizes and so much more – everything is up to you.</p>
				<div class="preview__icons">
					<img src="images/icons/circle_1.svg" alt="circle">
					<img src="images/icons/circle_2.svg" alt="circle">
					<img src="images/icons/circle_3.svg" alt="circle">
					<img src="images/icons/circle_4.svg" alt="circle">
					<img src="images/icons/circle_5.svg" alt="circle">
					<img src="images/icons/circle_6.svg" alt="circle">
					<img src="images/icons/circle_7.svg" alt="circle">
				</div>
			</div>

		</div>
	</div>
</section>

<section class="integrations">
	<div class="container">
		<h2 class="title">Integrations Built In</h2>
		<div class="integrations__wrapper">
			<img src="images/icons/integration.svg" alt="integration" class="integrations__img">
			<p class="integrations__title">Airtable</p>
			<p class="integrations__description">Connect your tables to synchronize every listing, text or image in your app remotely. Add and edit data anytime you want.</p>
			<a class="btn_2">Available now</a>
		</div>
	</div>
</section>

<section class="more">
	<div class="container">
		<p class="more__title">And so much more…</p>
		<div class="more__wrapper">

			<div class="more__item">
				<img src="images/icons/icon_1.svg" alt="safari" class="more__icon">
				<p class="more__text"><span class="tomato">Blazing</span><br>Fast<br>Perfomance</p>
			</div>

			<div class="more__item">
				<img src="images/icons/icon_2.svg" alt="safari" class="more__icon">
				<p class="more__text"><span class="green">Simpliest</span><br>Builder<br>Interface</p>
			</div>

			<div class="more__item">
				<img src="images/icons/icon_3.svg" alt="safari" class="more__icon">
				<p class="more__text"><span class="blue">Real Time</span><br>Preview<br>in the Web</p>
			</div>

			<div class="more__item">
				<img src="images/icons/icon_4.svg" alt="safari" class="more__icon">
				<p class="more__text"><span class="violet">Responsive</span><br>Chat with<br>Support</p>
			</div>

		</div>
	</div>
</section>

<section class="start">
	<div class="container">
		<img src="images/icons/logotype_icon.svg" alt="logotype icon" class="start__icon">
		<h2 class="title">Just Give It a Try.</h2>
		<a class="btn_2 popup-with-form" href="#popup-form" data-effect="mfp-zoom-in">Get Started for Free</a>
	</div>
</section>

<footer class="footer">
	<div class="container">
		<a href="#" class="footer__logo"><img src="images/logotype.svg" alt="logotype"></a>
		<div class="footer__link">
			<a href="#" class="footer__item">Terms of Use</a>
			<a href="#" class="footer__item">Privacy Policy</a>
		</div>
	</div>
</footer>

<form id="popup-form" class="white-popup-block mfp-hide">

	<fieldset style="border:0;" id="answer">
		<h4>Get Early Access</h4>
		<ul>
			<li>
				<input id="emailSelect" name="email" type="email" placeholder="E-mail" required="">
			</li>
			<span>We need your email to send you invite <img src="images/icons/pic.svg" alt="pic"></span>
			<li>
				<select id="whoSelect" name="who">
					<option value="empty" disabled selected hidden>What is your role?</option>
					<option value="founder">Founder/Co-Founder</option>
					<option value="developerr">Software Developer</option>
					<option value="designer">Designer</option>
					<option value="freelancer">Freelancer</option>
					<option value="agency">Agency</option>
					<option value="student">Student</option>
					<option value="hobbyist">Hobbyist or Creator</option>
					<option value="other">Other</option>
				</select>
			</li>
			<li>
				<select id="needSelect" name="need">
					<option value="empty" disabled selected hidden>What is your main need for AppBuildy?</option>
					<option value="startup">Build my Startup idea (MVP or proof-of-concept)</option>
					<option value="clients">Build mobile apps for clients</option>
					<option value="team">Build mobile apps for internal team usage</option>
					<option value="personal">Build mobile apps for personal use</option>
					<option value="try">Just curious about the product and want to try it out</option>
				</select>
			</li>
			<!-- <li>
				<textarea id="textarea" placeholder="What would you like to build" rows="2"></textarea>
			</li>-->
			<li>
				<button id="buttonSelect" type="button" style="margin-top: 15px;" name="button" class="btn_2">Get Access</button>
			</li>
		</ul>
	</fieldset>
	<div id="formAnswer" class="answer">
		<img src="images/icons/confirm_icon.svg" alt="">
		<h5>You're on the waitlist!</h5>
		<p>Thanks for the interest, we will send you an e-mail in a few days.</p>
	</div>
</form>
