<% content_for :extra_stylesheets do %>
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw=="
    crossorigin="anonymous" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw=="
    crossorigin="anonymous" /></noscript>
<% end %>

<% content_for :extra_scripts do %>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous"></script>
  <script>
		document.addEventListener("DOMContentLoaded", function() {
			$('.popup-with-form').magnificPopup({
				type: 'inline',
				preloader: false,
				focus: '#name',
				fixedContentPos: true,
				callbacks: {
					beforeOpen: function() {
						this.st.mainClass = this.st.el.attr('data-effect');
					}
				},
			});
		});
	</script>
	<script>
		document.getElementById('buttonSelect').addEventListener('click', function() {
			var preBody = {
				email: document.getElementById('emailSelect').value,
				who: document.getElementById('whoSelect').value,
				need: document.getElementById('needSelect').value,
			};
			var body = JSON.stringify(preBody);
			var newBody = JSON.stringify(
			{records: [{fields:{
			Email: document.getElementById('emailSelect').value,
            Role: document.getElementById('whoSelect').value,
            Need: document.getElementById('needSelect').value,
            }}]});

			fetch('https://api.airtable.com/v0/appLwIYN5PVkUa8xd/Waiting%20users', {
			    method: 'POST',
			    headers: {
                      'Content-Type': 'application/json',
                      'Authorization': 'Bearer keyHbBamMiXZog1v5',
                    },
                body: newBody,
			}).then(function(){
//               				document.getElementById('answer').style.display = 'none';
//              				document.getElementById('formAnswer').style.display = 'block';
              			});

              			var url = "https://build.appbuildy.com/signup?email=" + document.getElementById('emailSelect').value;
                      window.location.href = url;


			// fetch('https://hooks.zapier.com/hooks/catch/8579222/owqflhq/', {
			//	method: 'POST',
			//	body: body,
			//}).then(function(){
			//	document.getElementById('answer').style.display = 'none';
			//	document.getElementById('formAnswer').style.display = 'block';
			//});
		});
	</script>
<% end %>

<header>
	<div class="container">
		<nav class="menu">
			<a href="#" class="menu__logo"><img src="images/logotype.svg" alt="logotype"></a>
			<!-- <a href="#" class="menu__link">Features</a> -->
			<!-- <a href="#" class="menu__link">Pricing</a> -->
		</nav>
		<div class="login" id="popups">
			<a href="https://build.appbuildy.com/login  " class="btn_1 border-gradient">Log In</a>
			<a href="#popup-form" data-effect="mfp-zoom-in" class="btn_2 popup-with-form">Sign Up</a>
		</div>
	</div>
</header>

<section class="hero">
	<div class="container">
		<h1 class="hero__title">Build Mobile Apps <br /><span class="hero__title--animated">Without Coding</span></h1>
		<p class="hero__description">Create, customize and launch mobile apps<br>in your browser visually with drag and drop</p>
		<a class="hero__button btn_2 popup-with-form" href="#popup-form" data-effect="mfp-zoom-in">Get Started for Free</a>
	</div>
</section>

<section class="preview">
	<div class="container">
	<video autoplay loop muted playsinline class="preview__img">
        <source src="images/dest/preview.mp4" type="video/mp4">
		<img src="images/dest/preview.jpg" alt="AppBuildy" class="preview__img">
    </video>

		<div class="preview__box">

			<div class="preview__item turquoise">
				<h3 class="preview__title">Powered By Flutter Framework</h3>
				<p class="preview__description">Native look and feel for your iOS and Android apps. You could never see the difference compared to the apps built with code.</p>
				<div class="preview__icons">
					<img src="images/icons/apple.svg" alt="apple">
					<img src="images/icons/android.svg" alt="android">
					<img src="images/icons/web.svg" alt="web">
				</div>
			</div>

			<div class="preview__item pink">
				<h3 class="preview__title">Rich customization for every element</h3>
				<p class="preview__description">Pick from a rich palette of themes or create your own branding system. Fonts, colors, sizes and so much more – everything is up to you.</p>
				<div class="preview__icons">
					<img src="images/icons/circle_1.svg" alt="circle">
					<img src="images/icons/circle_2.svg" alt="circle">
					<img src="images/icons/circle_3.svg" alt="circle">
					<img src="images/icons/circle_4.svg" alt="circle">
					<img src="images/icons/circle_5.svg" alt="circle">
					<img src="images/icons/circle_6.svg" alt="circle">
					<img src="images/icons/circle_7.svg" alt="circle">
				</div>
			</div>

		</div>
	</div>
</section>

<!-- <section class="integrations">
	<div class="container">
		<h2 class="title">Integrations Built In</h2>
		<div class="integrations__wrapper">
			<img src="images/icons/integration.svg" alt="integration" class="integrations__img">
			<p class="integrations__title">Airtable</p>
			<p class="integrations__description">Connect your tables to synchronize every listing, text or image in your app remotely. Add and edit data anytime you want</p>
			<a class="btn_2">Available now</a>
		</div>
	</div>
</section> -->

<section class="integrations">
	<div class="container">
		<h2 class="title">Powered by your Data </h2>
		<div class="integrations__wrapper">
			<p class="integrations__title"><img src="images/icons/integration.svg" alt="integration" class="integrations__img"> Airtable</p>
			<p class="integrations__description">Connect your tables to synchronize every listing, text or image in your app remotely. Add and edit data anytime you want.</p>
			<div class="integrations__preview-container"><img src="images/airtable_phone.png" alt="airtable" class="integrations__phone"> <img src="images/airtable_preview.png" alt="airtable" class="integrations__preview"></div>
		</div>
	</div>
</section>

<section class="more">
	<div class="container">
		<p class="title">And so much more…</p>
		<div class="more__wrapper">

			<div class="more__item">
				<img src="images/icons/icon_1.svg" alt="safari" class="more__icon">
				<p class="more__text"><span class="tomato">Blazing</span><br>Fast<br>Perfomance</p>
			</div>

			<div class="more__item">
				<img src="images/icons/icon_2.svg" alt="safari" class="more__icon">
				<p class="more__text"><span class="green">Intuitive</span><br>Builder<br>Interface</p>
			</div>

			<div class="more__item">
				<img src="images/icons/icon_3.svg" alt="safari" class="more__icon">
				<p class="more__text"><span class="blue">Real Time</span><br>Preview<br>in the Web</p>
			</div>

			<div class="more__item">
				<img src="images/icons/icon_4.svg" alt="safari" class="more__icon">
				<p class="more__text"><span class="violet">Responsive</span><br>Chat<br>Support</p>
			</div>

		</div>
	</div>
</section>

<section class="start">
	<div class="container">
		<img src="images/icons/logotype_icon.svg" alt="logotype icon" class="start__icon">
		<h2 class="title">Without a line of code.</h2>
		<a class="btn_2 popup-with-form" href="#popup-form" data-effect="mfp-zoom-in">Get Started for Free</a>
	</div>
</section>

<footer class="footer">
	<div class="container">
		<a href="#" class="footer__logo"><img src="images/logotype.svg" alt="logotype"></a>
		<div class="footer__link">
			<a href="privacy-policy.docx" target="_blank" class="footer__item">Privacy Policy</a>
			<a href="terms-of-use.docx" target="_blank" class="footer__item">Terms of Use</a>
		</div>
	</div>
</footer>

<form id="popup-form" class="white-popup-block mfp-hide">

	<fieldset style="border:0;" id="answer">
		<h4>Get Early Access</h4>
		<ul>
			<li>
				<input id="emailSelect" name="email" type="email" placeholder="E-mail" required="">
			</li>
			<span>We need your email to send you invite <img src="images/icons/pic.svg" alt="pic"></span>
			<li>
				<select id="whoSelect" name="who">
					<option value="empty" disabled selected hidden>What is your role?</option>
					<option value="founder">Founder/Co-Founder</option>
					<option value="developerr">Software Developer</option>
					<option value="designer">Designer</option>
					<option value="freelancer">Freelancer</option>
					<option value="agency">Agency</option>
					<option value="student">Student</option>
					<option value="hobbyist">Hobbyist or Creator</option>
					<option value="other">Other</option>
				</select>
			</li>
			<li>
				<select id="needSelect" name="need">
					<option value="empty" disabled selected hidden>What is your main need for AppBuildy?</option>
					<option value="startup">Build my Startup idea (MVP or proof-of-concept)</option>
					<option value="clients">Build mobile apps for clients</option>
					<option value="team">Build mobile apps for internal team usage</option>
					<option value="personal">Build mobile apps for personal use</option>
					<option value="try">Just curious about the product and want to try it out</option>
				</select>
			</li>
			<!-- <li>
				<textarea id="textarea" placeholder="What would you like to build" rows="2"></textarea>
			</li>-->
			<li>
				<button id="buttonSelect" type="button" style="margin-top: 15px;" name="button" class="btn_2">Get Access</button>
			</li>
		</ul>
	</fieldset>
	<div id="formAnswer" class="answer">
		<img src="images/icons/confirm_icon.svg" alt="">
		<h5>You're on the waitlist!</h5>
		<p>Thanks for the interest, we will send you an e-mail soon</p>
	</div>
</form>
